In [52]:
import pandas as pd

# Load JSON data
df = pd.read_json('KitTickets.json')

df.drop(['Id', 'RefTicketId', 'TicketId', 'TicketMapId', 'id', 'Attachments', 'ChangesHistory', 'Comments', '_rid', '_self', '_etag', '_attachments', 'ModifiedDateUtc', 'IsActive', 'IsDeleted', '_ts'], axis=1, inplace=True)

df.head(10)

,CreatedDateUtc,TicketJson
0,2024-04-16T07:39:05.3805841Z,"{'sys_id': '112ae87697345910a13df1500153af5d',..."
1,2024-04-16T07:39:05.416672Z,"{'sys_id': 'e651a2b81b250e10c71586afdc4bcbd9',..."
2,2024-04-16T07:39:07.774185Z,"{'key': 'KSM-5083', 'id': '30399', 'status': '..."
3,2024-04-16T07:39:07.8344342Z,"{'key': 'KSM-5084', 'id': '30398', 'status': '..."
4,2024-04-16T07:39:09.7913384Z,"{'sys_id': '14aed0741b7ae110acfa42a6bc4bcb3b',..."
5,2024-04-16T07:39:10.5076455Z,"{'sys_id': '524bba021b214250c71586afdc4bcb42',..."
6,2024-04-16T07:39:12.0682306Z,"{'key': 'KSM-5085', 'id': '30400', 'status': '..."
7,2024-04-16T07:39:13.4005971Z,"{'key': 'KSM-5086', 'id': '30401', 'status': '..."
8,2024-04-16T07:39:14.763622Z,"{'sys_id': '3030919f1be8e510c71586afdc4bcb4a',..."
9,2024-04-16T07:39:15.70846Z,"{'sys_id': 'cfdcfac21b214250c71586afdc4bcbca',..."

In [53]:
Ticket_object = df['TicketJson']

In [54]:
df2 = pd.DataFrame(Ticket_object.tolist())  # Convert the Series of dictionaries to a DataFrame
print(df2.columns)

Index(['sys_id', 'number', 'u_business_caller', 'short_description',
       'description', 'priority', 'state', 'incident_state', 'u_description',
       'start_date', 'end_date', 'justification', 'implementation_plan',
       'backout_plan', 'risk', 'type', 'u_manager_approval', 'u_cab_approve',
       'key', 'id', 'status', 'reported'],
      dtype='object')

In [55]:
df['short_description'] = df2['short_description']
df['priority'] = df2['priority']
df['state'] = df2['state']
df['risk'] = df2['risk']
df['type'] = df2['type']
df['incident_state'] = df2['incident_state']

In [56]:
df.drop(['TicketJson'], axis='columns', inplace=True)

In [57]:
# Extract the date from the 'CreatedDateUtc' feature
df['CreatedDateUtc_Short'] = df['CreatedDateUtc'].str[:10]
print(df['CreatedDateUtc_Short'].unique())

['2024-04-16' '2024-04-18' '2024-04-23' '2024-04-24' '2024-05-01'
 '2024-05-02' '2024-05-03' '2024-05-06' '2024-05-07' '2024-05-08'
 '2024-05-13' '2024-05-14' '2024-05-15' '2024-05-16' '2024-05-20'
 '2024-05-31' '2024-06-03' '2024-06-04' '2024-06-05' '2024-06-06'
 '2024-06-10' '2024-06-11' '2024-06-12' '2024-06-13' '2024-06-20'
 '2024-06-25' '2024-06-27' '2024-07-03' '2024-07-11' '2024-07-12'
 '2024-07-16' '2024-07-17' '2024-07-22' '2024-07-23' '2024-07-24'
 '2024-07-25' '2024-07-31' '2024-08-01' '2024-08-12' '2024-08-13'
 '2024-08-14' '2024-08-15' '2024-08-20' '2024-08-26' '2024-08-28'
 '2024-08-30' '2024-08-31' '2024-09-02' '2024-09-10']

In [58]:
# convert CreatedDateUtc to datetime format
df['CreatedDateUtc'] = pd.to_datetime(df['CreatedDateUtc'])
# Extract the day of week
df['DayOfWeek'] = df['CreatedDateUtc'].dt.day_name()

print(df['DayOfWeek'].unique())
print(df['DayOfWeek'].value_counts())


df.head(100)

['Tuesday' 'Thursday' 'Wednesday' 'Friday' 'Monday' 'Saturday']
DayOfWeek
Tuesday      102
Wednesday     34
Thursday      32
Monday        30
Friday        10
Saturday       2
Name: count, dtype: int64

,CreatedDateUtc,short_description,priority,state,risk,type,incident_state,CreatedDateUtc_Short,DayOfWeek
0,2024-04-16 07:39:05.380584100+00:00,avscmawapp04 alerting in Solarwinds,3,3,NaN,NaN,3,2024-04-16,Tuesday
1,2024-04-16 07:39:05.416672+00:00,SAP - Azure Monitoring Agent reinstall for Pro...,3,3,4,normal,NaN,2024-04-16,Tuesday
2,2024-04-16 07:39:07.774185+00:00,NaN,3,NaN,NaN,NaN,NaN,2024-04-16,Tuesday
3,2024-04-16 07:39:07.834434200+00:00,NaN,3,NaN,NaN,NaN,NaN,2024-04-16,Tuesday
4,2024-04-16 07:39:09.791338400+00:00,eu2qasltes21 node down in Solarwinds,3,3,NaN,NaN,3,2024-04-16,Tuesday
...,...,...,...,...,...,...,...,...,...
95,2024-05-07 00:45:04.407560600+00:00,NaN,3,NaN,NaN,NaN,NaN,2024-05-07,Tuesday
96,2024-05-08 13:53:02.129758700+00:00,SAP - EQ1/CQ1 system copy,3,3,NaN,NaN,NaN,2024-05-08,Wednesday
97,2024-05-08 13:53:04.061629800+00:00,NaN,3,NaN,NaN,NaN,NaN,2024-05-08,Wednesday
98,2024-05-08 15:18:02.219763500+00:00,EQ2 unstable this morning,3,3,NaN,NaN,3,2024-05-08,Wednesday
99,2024-05-08 15:18:04.153354200+00:00,NaN,3,NaN,NaN,NaN,NaN,2024-05-08,Wednesday

In [59]:
# One hot encoding the days
df_encoded = pd.get_dummies(df, columns=['DayOfWeek'])
df_encoded.head()

,CreatedDateUtc,short_description,priority,state,risk,type,incident_state,CreatedDateUtc_Short,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,2024-04-16 07:39:05.380584100+00:00,avscmawapp04 alerting in Solarwinds,3,3,NaN,NaN,3,2024-04-16,False,False,False,False,True,False
1,2024-04-16 07:39:05.416672+00:00,SAP - Azure Monitoring Agent reinstall for Pro...,3,3,4,normal,NaN,2024-04-16,False,False,False,False,True,False
2,2024-04-16 07:39:07.774185+00:00,NaN,3,NaN,NaN,NaN,NaN,2024-04-16,False,False,False,False,True,False
3,2024-04-16 07:39:07.834434200+00:00,NaN,3,NaN,NaN,NaN,NaN,2024-04-16,False,False,False,False,True,False
4,2024-04-16 07:39:09.791338400+00:00,eu2qasltes21 node down in Solarwinds,3,3,NaN,NaN,3,2024-04-16,False,False,False,False,True,False

In [60]:
#Only needed features extracted
df.to_csv("Extracted Features.csv", index=False)