In [49]:
import pandas as pd

# Load JSON data
df = pd.read_json('KitTickets.json')

df.drop(['Id', 'RefTicketId', 'TicketId', 'TicketMapId', 'id', 'Attachments', 'ChangesHistory', 'Comments', '_rid', '_self', '_etag', '_attachments', 'ModifiedDateUtc', 'IsActive', 'IsDeleted'], axis=1, inplace=True)

df.head(10)

,CreatedDateUtc,TicketJson,_ts
0,2024-04-16T07:39:05.3805841Z,"{'sys_id': '112ae87697345910a13df1500153af5d',...",1713253146
1,2024-04-16T07:39:05.416672Z,"{'sys_id': 'e651a2b81b250e10c71586afdc4bcbd9',...",1713253146
2,2024-04-16T07:39:07.774185Z,"{'key': 'KSM-5083', 'id': '30399', 'status': '...",1713253147
3,2024-04-16T07:39:07.8344342Z,"{'key': 'KSM-5084', 'id': '30398', 'status': '...",1713253147
4,2024-04-16T07:39:09.7913384Z,"{'sys_id': '14aed0741b7ae110acfa42a6bc4bcb3b',...",1713253150
5,2024-04-16T07:39:10.5076455Z,"{'sys_id': '524bba021b214250c71586afdc4bcb42',...",1713774182
6,2024-04-16T07:39:12.0682306Z,"{'key': 'KSM-5085', 'id': '30400', 'status': '...",1713253152
7,2024-04-16T07:39:13.4005971Z,"{'key': 'KSM-5086', 'id': '30401', 'status': '...",1713774182
8,2024-04-16T07:39:14.763622Z,"{'sys_id': '3030919f1be8e510c71586afdc4bcb4a',...",1713253155
9,2024-04-16T07:39:15.70846Z,"{'sys_id': 'cfdcfac21b214250c71586afdc4bcbca',...",1716214142

In [50]:
Ticket_object = df['TicketJson']

In [51]:
df2 = pd.DataFrame(Ticket_object.tolist())  # Convert the Series of dictionaries to a DataFrame
print(df2.columns)

Index(['sys_id', 'number', 'u_business_caller', 'short_description',
       'description', 'priority', 'state', 'incident_state', 'u_description',
       'start_date', 'end_date', 'justification', 'implementation_plan',
       'backout_plan', 'risk', 'type', 'u_manager_approval', 'u_cab_approve',
       'key', 'id', 'status', 'reported'],
      dtype='object')

In [52]:
df['short_description'] = df2['short_description']
df['priority'] = df2['priority']
df['state'] = df2['state']
df['risk'] = df2['risk']
df['type'] = df2['type']
df['incident_state'] = df2['incident_state']

In [53]:
df.drop(['TicketJson'], axis='columns')

df.head()

,CreatedDateUtc,_ts,short_description,priority,state,risk,type
0,2024-04-16T07:39:05.3805841Z,1713253146,avscmawapp04 alerting in Solarwinds,3,3,NaN,NaN
1,2024-04-16T07:39:05.416672Z,1713253146,SAP - Azure Monitoring Agent reinstall for Pro...,3,3,4,normal
2,2024-04-16T07:39:07.774185Z,1713253147,NaN,3,NaN,NaN,NaN
3,2024-04-16T07:39:07.8344342Z,1713253147,NaN,3,NaN,NaN,NaN
4,2024-04-16T07:39:09.7913384Z,1713253150,eu2qasltes21 node down in Solarwinds,3,3,NaN,NaN
...,...,...,...,...,...,...,...
205,2024-08-31T10:21:03.3417501Z,1725194221,NaN,3,NaN,NaN,NaN
206,2024-09-02T20:07:01.5363597Z,1725340802,Reset password for user carhadmin in VM eu2prd...,3,3,NaN,NaN
207,2024-09-02T20:07:03.5909908Z,1725427261,NaN,3,NaN,NaN,NaN
208,2024-09-10T13:26:02.2037477Z,1725975421,Update Galileo agents for DR servers (WestUs2),3,1,4,normal
209,2024-09-10T13:26:04.1855795Z,1725976142,NaN,3,NaN,NaN,NaN

In [55]:
#Only needed features extracted
df.to_csv("Extracted Features.csv", index=False)